# Primer avance del PIA

**Equipo:** 9

**Grupo:** 003, Lunes

**Integrantes:** 
- 1808039, Gómez Alonzo, Ana Karen
- 1937881, Villareal Duarte, Alma Cecilia  
- , Hernández Galván,  Angel Emmanuel

### Base de datos:

[US Police Shootings](https://www.kaggle.com/ahsen1330/us-police-shootings)

In [1]:
import pandas as pd

In [3]:
df_PS = pd.read_csv("shootings.csv")

### Descripción de los datos

**Tipo de datos**  (Tablas, imágenes, encuestas)

In [4]:
df_PS.dtypes

id                           int64
name                        object
date                        object
manner_of_death             object
armed                       object
age                        float64
gender                      object
race                        object
city                        object
state                       object
signs_of_mental_illness       bool
threat_level                object
flee                        object
body_camera                   bool
arms_category               object
dtype: object

### Justificación del uso de datos

### Objetivo final

### Preguntas de interés

_*Programación*_

_Elimina columnas_

In [5]:
df_PS = df_PS.drop(['name','body_camera'], axis=1)

_Renombra columnas_

In [10]:
df_PS = df_PS.rename(columns={'date': 'Dia', 
                              'manner_of_death':'Manera_de_la_muerte',
                              'armed':'Arma',
                              'age': 'Edad',
                              'gender':'Genero',
                              'race':'Raza', 
                              'city':'Ciudad',
                              'state':'Estado',
                              'signs_of_mental_illness':'Signos_de_enfermedades_mentales',
                              'flee':'Escapo',
                              'threat_level':'Nivel_de_amenaza',
                              'arms_category': 'Categoria_de_armas' })

In [11]:
df_PS.head()

,id,Dia,Manera_de_la_muerte,Arma,Edad,Genero,Raza,Ciudad,Estado,Signos_de_enfermedades_mentales,Nivel_de_amenaza,Escapo,Categoria_de_armas
0,3,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,Guns
1,4,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,Guns
2,5,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,Unarmed
3,8,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,Other unusual objects
4,9,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,Piercing objects