# Segundo Avance de PIA
**Equipo:** 9

**Grupo:** 003, Lunes

**Integrantes:**
* **1808039** , Gómez, Karen
* **1741418** , Hernández, Emmanuel
* **1937881** , Villarreal, Cecilia

## Base de datos:

[URL Police Shootings](https://www.kaggle.com/ahsen1330/us-police-shootings)

In [13]:
import pandas as pd

In [27]:
df_PS = pd.read_csv("shootings.csv")

In [15]:
df_PS.head(5)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

## Descripción de los datos

In [4]:
#Falta

### Tamaño de la base de datos

In [16]:
df_PS.shape

(4895, 15)

Esto, nos indica que tenemos un total de 15 columnas que describen las características de las personas, los eventos y las condiciones en las cuales se llevó a cabo los arrestos por parte de la policía de Estados de Unidos. Asimismo, nos describe que hay 4894 registros de personas que fueron arrestada

### Tipo de datos

La base de datos es una tabla, que tiene valores numéricos enteros para el identificador y flotantes para la edad. En su mayoría son de tipo texto ya que describen una característica según la columna, a excepción de la fecha que tiene ese formato y la columna signs of mental illness donde los datos son verdadero y falso.

* **Columnas**

In [17]:
df_PS.dtypes

id                           int64
name                        object
date                        object
manner_of_death             object
armed                       object
age                        float64
gender                      object
race                        object
city                        object
state                       object
signs_of_mental_illness       bool
threat_level                object
flee                        object
body_camera                   bool
arms_category               object
dtype: object

## Justificación del uso de datos

Se tiene catalogado a Estados Unidos como un país con un gran porcentaje de discriminación racial, en especial al momento de hacer cumplir sus leyes. Por lo que, la policía de Estados Unidos ha sido catalogada como injusta y con cierta inclinación a detener de forma injustificada o con mayor severidad aquellos ciudadanos de un cierto tipo de raza, en especial aquellos de un tono de piel oscura. Es por ello, que buscamos conocer si lo que se piensa de la policía de Estados Unidos es cierto.

## Objetivos

#### Principales:
* Determinar si es mayor la proporción de arrestos de personas de color que la proporción de personas blancas.

* Comparar y analizar la proporción de arrestos por razas.

* Evaluar la susceptibilidad de los policías a actuar de forma violenta en los arrestos, según distintos criterios.

## Datos sin manipular

In [18]:
df_PS

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,5916,Rayshard Brooks,2020-06-12,shot,Taser,27.0,M,Black,Atlanta,GA,False,attack,Foot,True,Electrical devices
4891,5925,Caine Van Pelt,2020-06-12,shot,gun,23.0,M,Black,Crown Point,IN,False,attack,Car,False,Guns
4892,5918,Hannah Fizer,2020-06-13,shot,unarmed,25.0,F,White,Sedalia,MO,False,other,Not fleeing,False,Unarmed
4893,5921,William Slyter,2020-06-13,shot,gun,22.0,M,White,Kansas City,MO,False,other,Other,False,Guns
4894,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,White,Lawrence,KS,False,attack,Car,False,Guns

## Limpieza de datos

#### Columnas no deseadas

In [19]:
df_PS = df_PS.drop(['name','body_camera', 'date', 'city', 'armed'], axis=1)

* **name:** Se eliminó, debido a que el nombre de las personas no es relevante para el análisis.
* **body_camera:** Se eliminó porque no nos interesa saber si traían una cámara en el cuerpo.
* **date:** Se eliminó dado que no nos interesa el día en que sucedió el atentado y sería complicado trabajar con estos datos.
* **city:** Se eliminó dado que nos enfocaremos en analizar los atentados por Estado.
* **armed:** Se eliminó dado que tenemos una columna similar llamada "arms_category" y ésta es la que tomaremos en cuenta.

#### Renombrar Columnas

In [34]:
df_PS = df_PS.rename(columns={#'date': 'Dia', 
                              'manner_of_death':'Manera_de_la_muerte',
                              #'armed':'Arma',
                              'age': 'Edad',
                              'gender':'Genero',
                              'race':'Raza', 
                              #'city':'Ciudad',
                              'state':'Estado',
                              'signs_of_mental_illness':'Signos_de_enfermedades_mentales',
                              'threat_level':'Nivel_de_amenaza',
                              'flee':'Escapo',
                              'arms_category': 'Categoria_de_armas' })

Las cambiamos para identificarlos con facilidad en nuestro idioma nativo.

#### Edición de columna "Categoría_de_armas"

Editaremos esta columna a nuestra conveniencia para poder observar las personas que a pesar de que no tenían en su disposición un arma, fueron baleadas por los policias.

In [35]:
df_PS['Categoria_de_armas'].unique()

array(['Armado', 'Desarmado', 'Desconocido'], dtype=object)

* Seperaremos en 3 categorias Armado, Desarmado y Desconocido

In [36]:
df_PS = df_PS.replace({"Guns": "Armado",
                       "Other unusual objects": "Armado",
                       "Piercing objects": "Armado" ,
                       "Sharp objects": "Armado" ,
                       "Blunt instruments": "Armado" ,
                       "Multiple": "Armado" ,
                       "Electrical devices": "Armado" ,
                       "Hand tools": "Armado" ,
                       "Vehicles": "Armado" ,
                       "Explosives": "Armado",
                       "Unarmed": "Desarmado",
                       "Unknown": "Desconocido"})

In [37]:
df_PS['Categoria_de_armas'].unique()

array(['Armado', 'Desarmado', 'Desconocido'], dtype=object)

* Renombraremos la columna

In [38]:
df_PS = df_PS.rename(columns={'Categoria_de_armas': '¿Armado?'})

## Base de datos manipulada

In [39]:
df_PS

,id,name,date,Manera_de_la_muerte,armed,Edad,Genero,Raza,city,Estado,Signos_de_enfermedades_mentales,Nivel_de_amenaza,Escapo,body_camera,¿Armado?
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Armado
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Armado
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Desarmado
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Armado
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Armado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,5916,Rayshard Brooks,2020-06-12,shot,Taser,27.0,M,Black,Atlanta,GA,False,attack,Foot,True,Armado
4891,5925,Caine Van Pelt,2020-06-12,shot,gun,23.0,M,Black,Crown Point,IN,False,attack,Car,False,Armado
4892,5918,Hannah Fizer,2020-06-13,shot,unarmed,25.0,F,White,Sedalia,MO,False,other,Not fleeing,False,Desarmado
4893,5921,William Slyter,2020-06-13,shot,gun,22.0,M,White,Kansas City,MO,False,other,Other,False,Armado
4894,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,White,Lawrence,KS,False,attack,Car,False,Armado

## Estádistica básica de los datos

In [40]:
df_PS.describe()

                id         Edad
count  4895.000000  4895.000000
mean   2902.148519    36.549750
std    1683.467910    12.694348
min       3.000000     6.000000
25%    1441.500000    27.000000
50%    2847.000000    35.000000
75%    4352.500000    45.000000
max    5925.000000    91.000000

## Gráficas

In [ ]:
import matplotlib as plt
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Segmentos por Razas

In [ ]:
df_PS['Raza'].unique()

In [ ]:
Razas = ["Raza Blanca", "Raza Oscura", "Raza Hispana", "Raza Asiatica", "Raza Nativa", "Otra Raza"]

### Raza Blanca

In [ ]:
R_Blanca = df_PS[df_PS['Raza']=='White']

In [ ]:
R_Blanca['Raza'].count()

In [ ]:
G_PieRB = (R_Blanca["¿Armado?"].value_counts() / len(R_Blanca))
G_PieRB

In [ ]:
nombres = ["Armado", "Desconocido", "Desarmado"]

In [ ]:
plt.pie(G_PieRB, labels = nombres, autopct='%1.2f%%')

### Raza Oscura

In [ ]:
R_Oscura = df_PS[df_PS['Raza']=='Black']

In [ ]:
R_Oscura['Raza'].count()

In [ ]:
G_PieRO = (R_Oscura["¿Armado?"].value_counts() / len(R_Oscura))
G_PieRO

In [ ]:
plt.pie(G_PieRO, labels = nombres, autopct='%1.2f%%')

### Raza Hispana

In [ ]:
R_Hispana = df_PS[df_PS['Raza']=='Hispanic']

In [ ]:
R_Hispana['Raza'].count()

In [ ]:
G_PieRH = (R_Hispana["¿Armado?"].value_counts() / len(R_Hispana))
G_PieRH

In [ ]:
plt.pie(G_PieRH, labels = nombres, autopct='%1.2f%%')

### Raza Asiatica

In [ ]:
R_Asiatica = df_PS[df_PS['Raza']=='Asian']

In [ ]:
R_Asiatica['Raza'].count()

In [ ]:
G_PieRA = (R_Asiatica["¿Armado?"].value_counts() / len(R_Asiatica))
G_PieRA

In [ ]:
plt.pie(G_PieRA, labels = nombres, autopct='%1.2f%%')

### Raza Nativa

In [ ]:
R_Nativa = df_PS[df_PS['Raza']=='Native']

In [ ]:
R_Nativa['Raza'].count()

In [ ]:
G_PieRN = (R_Nativa["¿Armado?"].value_counts() / len(R_Nativa))
G_PieRN

In [ ]:
plt.pie(G_PieRN, labels = nombres, autopct='%1.2f%%')

### Otra Raza

In [ ]:
R_Otra = df_PS[df_PS['Raza']=='Other']

In [ ]:
R_Otra['Raza'].count()

In [ ]:
G_PieOR = (R_Otra["¿Armado?"].value_counts() / len(R_Otra))
G_PieOR

In [ ]:
plt.pie(G_PieOR, labels = nombres, autopct='%1.2f%%')

## Histograma comparativo
#### Personas desarmadas por razas

In [ ]:
Desarmado = [G_PieRB["Desarmado"],
              G_PieRO["Desarmado"],
              G_PieRH["Desarmado"],
              G_PieRA["Desarmado"],
              G_PieRN["Desarmado"],
              G_PieOR["Desarmado"]]
Armado = [G_PieRB["Armado"],
              G_PieRO["Armado"],
              G_PieRH["Armado"],
              G_PieRA["Armado"],
              G_PieRN["Armado"],
              G_PieOR["Armado"]]
Desconocido = [G_PieRB["Desconocido"],
              G_PieRO["Desconocido"],
              G_PieRH["Desconocido"],
              G_PieRA["Desconocido"],
              G_PieRN["Desconocido"],
              G_PieOR["Desconocido"]]

In [ ]:
G_CompD = pd.DataFrame({'Razas': Razas, 'Desarmado': Desarmado})
G_CompD

In [ ]:
G_CompD.plot.bar(x = 'Razas', y = 'Desarmado')

In [ ]:
Arm = df_PS['Raza'].groupby([df_PS['¿Armado?'], df_PS['Raza']]).count().unstack().fillna(0)
Arm.head(15).plot.bar(stacked = True)

In [ ]:
Arm.head(15).plot.line()

In [ ]:
#Gráfica kd plot

## Correlación

In [ ]:
df_PS_corr = df_PS.replace({"White": 0, "Black": 1, "Hispanic": 2, "Asian": 3, "Native": 4, "Other": 5})

In [ ]:
#EDIT DEMAS

##### Conteo por Raza

In [ ]:
df_PS_corr.corr()
#Creo que sería conveniente hacer un comparativo por raza, pero solo en el numero de detenciones y en lo de si tenía armas, ¿no?

In [ ]:
#_______________________________________________________________________________________________

In [ ]:
df_PS['Raza'].value_counts().plot.bar()

In [ ]:
(df_PS['Raza'].value_counts() / len(df_PS)).plot.bar()

##### Conteo por Estados

In [ ]:
df_PS['Estado'].value_counts().sort_values(ascending = False).head(10).plot.bar()

##### Conteo por Edad

In [ ]:
df_PS['Edad'].value_counts().sort_index().plot.line()

In [ ]:
df_PS['Edad'].value_counts().sort_index().plot.area()

In [ ]:
df_PS[df_PS['Edad'] < 75]['Edad'].plot.hist()

In [ ]:
##IGNORAR

In [ ]:
G_Comp = pd.DataFrame({'Razas': Razas, 'Desarmado': Desarmado, 'Armado': Armado, 'Desconocido': Desconocido})
G_Comp

In [ ]:
Armado_ = [R_Blanca["¿Armado?"].value_counts()['Armado'],
           R_Oscura["¿Armado?"].value_counts()['Armado'],
           R_Hispana["¿Armado?"].value_counts()['Armado'],
           R_Asiatica["¿Armado?"].value_counts()['Armado'],
           R_Nativa["¿Armado?"].value_counts()['Armado'],
           R_Otra["¿Armado?"].value_counts()['Armado']]
Desarmado_ = [R_Blanca["¿Armado?"].value_counts()['Desarmado'],
           R_Oscura["¿Armado?"].value_counts()['Desarmado'],
           R_Hispana["¿Armado?"].value_counts()['Desarmado'],
           R_Asiatica["¿Armado?"].value_counts()['Desarmado'],
           R_Nativa["¿Armado?"].value_counts()['Desarmado'],
           R_Otra["¿Armado?"].value_counts()['Desarmado']]
Desconocido_ = [R_Blanca["¿Armado?"].value_counts()['Desconocido'],
           R_Oscura["¿Armado?"].value_counts()['Desconocido'],
           R_Hispana["¿Armado?"].value_counts()['Desconocido'],
           R_Asiatica["¿Armado?"].value_counts()['Desconocido'],
           R_Nativa["¿Armado?"].value_counts()['Desconocido'],
           R_Otra["¿Armado?"].value_counts()['Desconocido']]
Total_ = [R_Blanca['Raza'].count(),
           R_Oscura['Raza'].count(),
           R_Hispana['Raza'].count(),
           R_Asiatica['Raza'].count(),
           R_Nativa['Raza'].count(),
           R_Otra['Raza'].count()]
List = pd.DataFrame({'Razas': Razas, 'Desarmado': Desarmado_, 'Armado': Armado_, 'Desconocido': Desconocido_, 'Total': Total_})
List